.card__button {
  /* display: none; */
  margin: 0;
  background-color: #a8dadc;
  border: solid 5px #fff;
  border-radius: 10px;
  color: #1d3557;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1.5px;
  transition: background-color 0.4s linear;
}

/* .card__button_size_xl {
  width: 240px;
  height: 74px;
} */

.card__popup {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  /*   visibility: hidden;
  opacity: 0; */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.card__button_size_m {
  display: inline;
  width: 168px;
  height: 51px;
}

.card__button_size_s {
  background: center no-repeat url("../../images/stop-button.svg");
  display: inline;
  width: 51px;
  height: 51px;
}

.card__button_type_inactive {
  background-color: gray;
  cursor: auto;
}

.card__button-small {
  width: 45px;
  height: 45px;
  border: 5px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a8dadc;
  justify-self: end;
  transition: background-color 0.4s linear;
  margin: 0;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 3px;
  color: #1d3557;
}

.card__container {
  /* display: none; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 970px;
  height: 400px;
  background-color: #1d3557;
  border: solid 5px #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card__main-screen {
  width: 100%;
  height: 301px;
  display: none;
}

.card__info-screen {
  width: 100%;
  height: 301px;
  padding: 15px;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.card__info-title {
  margin: 0 0 10px 0;
  color: #8ac926;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.card__info-text {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}

.card__info-yellow {
  color: #ffca3a;
}

.card__info-red {
  color: #e63946;
}

.card__info-green {
  color: #8ac926;
}

.card__info-white {
  color: #fff;
}

.card__info-note {
  font-size: 18px;
  max-width: 30%;
  margin-top: 25px;
}

.card__info-subtitle {
  color: #fff;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.card__button-bar {
  width: 100%;
  height: 99px;
  border-top: solid 5px #fff;
  padding: 24px;
  box-sizing: border-box;
  background-color: #457b9d;
  display: grid;
  grid-template-columns: 168px 168px 168px 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.card__iteration-window {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 51px;
  margin: 0;
  background-color: #a8dadc;
  border: solid 5px #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1.5px;
  color: #1d3557;
}

.card_type_inactive {
  display: none;
}

.card__button-small_info {
  border-radius: 25px;
}

.card__button_size_s:hover {
  background: center no-repeat url("../../images/stop-button-active.svg");
}

.card__button:hover {
  background-color: #e63946;
  cursor: pointer;
  color: #fff;
  transform: scale(1.1);
  transition: background-color scale 0.9s linear;
}

.card__button-small:hover {
  background-color: #e63946;
  color: #fff;
  cursor: pointer;
}

.card__button-small_info:hover {
  background-color: #8ac926;
}

.card__iteration-window:hover {
  cursor: default;
}

.card__button_type_inactive:hover {
  cursor: auto;
  background-color: gray;
  color: #1d3557;
}
